
.Login-container {
    width: 100%;
    height: 100%;
}

.Login-container section {
    width: 25%;
    height: 50%;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.432);
    padding: 2em;
    overflow-y: auto;
}

.Login-container p {
    font-size: 0.9em;
    color: hsl(0, 0%, 50%);
}

.Login-container section form {
    width: 100%;
}

.Login-container section div {
    padding: 0.5em;
   width: 90%;
   height: fit-content;

}

